#top{
font-family: 'Roboto', sans-serif;
font-size: 40px;
color: #302f2f;	
font-weight: bold;
letter-spacing:2px;
text-align: center;
box-shadow: 0px 15px 35px rgba(50,50,93,0.20);
}	

#gauche{
	float:left;
	margin-left: 38px;
}

#droite{
	float: right;
	margin-right: 38px;
}